 <!-- About Section -->
    <section class="success" id="program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Accepted Papers</h2>
                    <hr class="star-light">
                </div>
             
                {% for category in accepted %}
                    <h3>{{ category.name }}</h3>
                    {% for paper in category.papers %}
                        <b>{{ paper.title }}</b>, <i>{{paper.authors}}</i><br/>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>
