<!--Sponsors section-->
    <section class="success" id="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
		               <table>
            			    <tr>
	   		                  <td>Mamezou Co., Ltd</td>
          			          <td>Innovation Plus Co., Ltd.</td>
			                    <td>SMART Co., Ltd.</td>
          			          <td>Liful Co., Ltd.</td>
		                  </tr>
                  </table>
               </div>
            </div>
      	</div>
    </section>
