<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}

    {% for item in site.include %}
        {% include {{item.file}}%}
    {% endfor %}
        
    {% include header.html %}
    {% include about.html %}
    {% include cfp.html %}
    {% include venue.html %}    
    {% include committee.html %}
    {% include series.html %}
        
    {% include modals.html %}
    {% include js.html %}

    {% include footer.html %}
    </body>
</html>
